.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5vh;
  padding: 2vh;
  margin: 0 auto;
  width: 100%;
}

.item {
  padding-top: 5vh;
  flex-grow: 1;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 5vh;
  }
  .item {
    margin: 0 3vw;
    padding: 6vh 1.6vw;
    width: 95%;
  }
}
