.app{
    background-color: #FA709A;
    background-image: linear-gradient(90deg, #FA709A 26%, #FEE140 100%);
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap:10vw;
}

.item {
    flex: 1 1 calc(50% - 10vw); /* Ajuste para tener espacio entre los elementos */
}

/* Estilos responsivos */
@media (max-width: 900px) {
    .app{
        background-color: #FA709A;
        background-image:  linear-gradient(180deg, #FA709A 26%, #FEE140 100%);
        min-height: 100vh;
    }
    
    .container{
        display: flex;
        flex-direction: column;
    }
    .item {
        flex: 1 1 100%;
    }
}

.containerList{
    background-color:rgba(0,0,0,0.2);
    text-align: center;
    
    margin: 20px;
    min-width: 35vw;
    border-radius: 20px;
}


.titleTask{
    color:rgb(153, 84, 158);
    padding: 3vh 0;
}