
.containerList {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 20px;
    flex-grow: 5;
}
  
.titleTask {
    color: rgb(153, 84, 158);
}

@media (max-width: 900px) {
    .containerList {
        flex-grow: 1;
    }
  }
  