.todoCounter {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding-top: 2vh;
  color: white;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5vw;
}
.todoCounter--loading {
  opacity: 25%;
}

.todoCounter span {
  font-weight: bold;
  color: #fa709a;
}

.todoCounter .todos {
  font-family: "Rubik Doodle Shadow";
  color: white;
}

h1.todoCounter div.imgHeader {
  width:80px;
  height:80px; 
}

h1.todoCounter .imgHeader img {
  width:100%;
  height:100%; 
}

@media (max-width: 900px) {
  .todoCounter {
    font-size: 20px;
  }
  h1.todoCounter div.imgHeader {
    width:60px;
    height:60px; 
  }
  
}

@media (max-width: 380px) {
  .todoCounter {
    font-size: 12px;
  }
  h1.todoCounter div.imgHeader {
    width:30px;
    height:30px; 
  }
  
}
